*,
::before,
::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header_nav{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 78px;
    width: 100%;
    padding: 25px 0;  
}
.menu{
    list-style: none;
    margin-top: 5px;
}
.menu_item{
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}
.menu_link{
    text-decoration: none;
    color: #FF0000;
}
.menu_item + .menu_item {
    margin-left: 72px;
}
.main_jpg{
    display: block;
    width: 100%;
    height: 789px;
}
.main_title{
    margin: 48px 0 10px 0;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}
.main_deskr{
    margin: 28px 67px 28px 67px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.main_item{
    display: block;
    width: 191px;
    height: 51px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    background: #FF0000;
    border-radius: 4px;
    margin-top: 84px;
    padding: 18px 42px;
}
.footer_desckr{
    margin: 82px 105px 29px 0;
    text-align: right;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}