a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.header {
  background: #313131;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.header-nav {
  padding: 26px 70px 20px 0;
}
.header-menu {
  padding-left: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu-item + .menu-item {
  margin-left: 35px;
}
.menu-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.2s;
}
.menu-link:hover {
  color: #14b9d5;
}

.logo {
  margin-left: 25px;
  display: flex;
  align-items: center;
}
.header-logo-text {
  margin-left: 17px;
  font-weight: bold;
  font-size: 22px;
  color: #ffffff;
}
.black {
  padding: 24.5px 26px;
  border-style: none;
  display: flex;
  align-items: center;
  background-color: #000000;
}

.news {
  background: url(../img/bg/header-bg.jpeg) center center / cover no-repeat;
  background-position: bottom;
  box-shadow: inset 0 0 950px 950px rgba(0, 0, 0, 0.2);
  background-attachment: fixed;
  padding: 163px 0 74px 0;
}
.news-wrapper {
  display: flex;
  flex-direction: column;
}
.section-header {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #ffffff;
  text-align: center;
}
.news-link {
  display: flex;
  justify-content: center;
  margin-top: 44px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.green {
  padding: 16px 19px;
  color: #ffffff;
  background: #89ca62;
  border-radius: 5px;
}
.blue {
  margin-left: 20px;
  padding: 16px 30px;
  color: #ffffff;
  background: #14b9d5;
  border-radius: 5px;
}

.popular-posts {
  padding-top: 49px;
  height: 1030px;
  background-color: #f2f2f2;
}
.section-header-blue {
  text-align: center;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18b4cf;
}
.popular-posts-wrapp {
  height: 880px;
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  align-content: space-between;
}
.popular-posts-inner {
  background-color: #fff;
  width: 370px;
  margin-bottom: 31px;
}
.post-desck {
  text-align: center;
  margin: 0 auto;
  padding: 21px 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}

.popular-client {
  background: url(../img/bg/parallax-bg.jpeg) center center / cover no-repeat;
  background-attachment: fixed;
  box-shadow: inset 0 0 950px 950px rgba(0, 0, 0, 0.2);
  padding: 106px 0 192px;
}
.client-item {
  padding-left: 0;
  margin-top: 106px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}
.popular-client .section-header::after {
  content: "";
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #18b4cf;
  margin-top: 87px;
  width: 63px;
  height: 3px;
}

.top-rated {
  padding-top: 49px;
}
.top-rated-wrapper {
  margin-top: 52px;
  display: grid;
  grid-template-columns: repeat(7, auto);
}
.top-rated-img {
  height: 100%;
  width: 100%;
}
.hot-news {
  padding: 51px 71px;
}
.hot-news-wrapper {
  padding-left: 0;
  margin-top: 51px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content;
  grid-gap: 43px 60px;
}
.hot-news-text-block {
  padding: 14px 14px;
}
.hot-news-desck {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
  text-align: right;
}
.hot-news-header {
  font-weight: bold;
  text-align: right;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  margin: 0;
}
.hot-news-header-center {
  text-align: center;
}
.hot-news-inner {
  background-color: #f9f7f7;
}
.hot-news-inner:nth-child(1) {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.hot-news-inner:nth-child(2) {
  grid-column: 4 / 5;
  text-align: center;
}
.hot-news-inner:nth-child(3) {
  grid-column: 1 / 3;
}
.hot-news-inner:nth-child(4) {
  grid-column: 3 / 5;
}
.hot-news-inner:nth-child(5) {
  grid-column: 1 / 3;
}
.hot-news-inner:nth-child(6) {
  grid-column: 3 / 5;
}
.hot-news-inner:nth-child(7) {
  grid-column: 1 / 1;
  text-align: center;
}
.hot-news-inner:nth-child(8) {
  grid-column: 2 / 5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

footer {
  background-color: #000000;
}
.footer-wrapper {
  padding: 29px 0 27px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 557px;
  align-items: center;
}
.footer-descr {
  margin: 0;
  font-size: 14px;
  line-height: 13px;
  color: #ffffff;
}
.footer-link {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
