caption{
   color:grey;
   font-size: 24px;
   text-align-last: left;
   margin-top: 100px;
} 
td, th{
   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.27);
   height: 73px;
} 
.table{
   width: 1190px;
   height: 736px;
   margin: 0 auto;
   border: 22px solid #3A4965;
   text-align: center;
   border-spacing: 0;
}
.header{
   background-color: #FAFAFA;
   font-weight: bold;
}
.header .colored{
   font-size: 24px;
   line-height: 28px;
   text-transform: uppercase;
   color: #FFFFFF;
}
.price{
   position: relative;
   font-size: 58px;
   line-height: 28px;
   text-transform: uppercase;
   color: #484848;
   text-align: left;
   padding: 12px 0 10px 33px;
}
.price sup{
   font-size: 24px;
   vertical-align:top;
}
.price .descr{
   margin: 0;
   left: 125px;
   top: 34px;
   position: absolute;
   font-size: 18px;
   font-weight: normal;
}
.colored:nth-of-type(2){
   background-color: #89C331;
   border: none;
}
.colored:nth-of-type(3){
   background-color: #F04A56;
   border: none;  
}
.colored:nth-of-type(4){
   background-color:#20807C;
   border: none;
}
.header-col-1{
   font-weight: bold;
   font-size: 18px;
   line-height: 28px;
   text-transform: uppercase;
   color: #484848;
}
.header-col-1 span{
   font-size: 30px;
   line-height: 28px;
}
.main{
   font-size: 16px;
   line-height: 28px;
   text-transform: uppercase;
   color: #484848;
}
.main tr:nth-of-type(2n){
   background-color:#E3E3E3;;
}
.main tr:nth-of-type(2n+1){
   background-color:#F2F2F2;;
}

.logo{
   display: inline-block;
   margin-top: 10px;
   margin-right: 4px;
}

.footer td{
   height: 109px;
   background-color: #DDDDDD;
}
.foter-btn {
   padding: 17px 57px;
   text-decoration: none;
   border-radius: 6px;
   box-shadow: inset 0 -10px 0px rgba(0,0,0,0.18);
   background: #484848;
   color: #FFFFFF;
   font-size: 16px;
   line-height: 16px;
   text-transform: uppercase;
}
.green{
   background-color: #89C331;
}
.rose{
   background-color: #F04A56;
}
.blue{
   background-color:#20807C;
}
.footer td:nth-of-type(2n){
   background-color:#EEEEEE;;
}
.footer td:nth-of-type(3){
   background-color: #F4F4F4;
}
