a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
.header {
  margin-top: 61px;
}
.header-logo {
  font-size: 80px;
  line-height: 94px;
  color: #000000;
}
.header-logo span {
  color: #09b2f5;
}
.header-nav {
  margin-top: 38px;
  padding: 0 162px;
  background: #35444f;
}
.header-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}
.menu-link {
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.menu-item {
  padding: 26px 32px 19px 32px;
  border-left: 1px solid #ffffff;
  transition: 0.2s;
}
.menu-item:hover {
  background: #222f3a;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 50px;
}
.left-block {
  min-width: 344px;
  border: 1px solid #000000;
}
.left-menu {
  margin: 0;
  padding: 0;
}
.left-block-link {
  font-size: 27px;
  line-height: 27px;
  color: #485863;
}
.left-block-link:hover {
  color: #000000;
}
.left-item {
  padding: 26px 0 26px 44px;
  transition: 0.2s;
}
.left-item:hover {
  background-color: #dbdbdb;
  padding-left: 80px;
}
.right-block {
  margin-left: 54px;
  margin-right: 0;
  display: flex;
  flex-direction: column;
}
.pic-block {
  border: 1px solid #000000;
  padding: 75px 268px 73px 290px;
  margin-bottom: 5px;
  width: 320px;
  height: 381px;
  overflow: hidden;
}
.right-img {
  display: block;
  margin: 0 auto;
  transition: 0.6s;
}
.right-img:hover {
  transform: scale(1.2);
}
.main-descr {
  margin-top: 34px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  margin: 54px 0 30px 0;
  background-color: rgba(99, 105, 110, 0.48);
}
.footer-menu {
  display: flex;
  justify-content: start;
  margin: 0;
}
.footer-menu-link {
  font-size: 28px;
  line-height: 30px;
  color: #0c1927;
  padding-bottom: 10px;
  margin: 0 32px 9px 0;
}
.footer-menu-item {
  padding: 26px 0;
}
.footer-menu-item:hover .footer-menu-link {
  color: #478eaa;
  border-bottom: 1px solid #478eaa;
}
.footer-inner {
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  padding: 26px 40px 19px 0;
  margin: 0;
}
